<div class="container">
  <h2 class="mt-4 mb-0">Simulations</h2>
  <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pole-emploi" role="tab" aria-controls="pole-emploi" aria-selected="true">Pôle Emploi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Retraite</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pole-emploi" role="tabpanel" aria-labelledby="pole-emploi-tab">
      <div class="d-flex justify-content-center">
        <div class="grid m-2 w-100">
          <h4 class="text-center">Pôle emploi</h4>
          <div class="row">
            <div class="col-md-4 col-sm-12 pl-0 pr-2"><%= render 'shared/cards_dash', {img: 'personal_data.png',title: 'Salaire Journalier de Référence (SJR)', value: @sjr} %></div>
            <div class="col-md-4 col-sm-12 px-1"><%= render 'shared/cards_dash', {img: 'note_taking.svg',title: "Allocation journalière de Retour à l'Emploi:", value: @are_j_m2 } %></div>
            <div class="col-md-4 col-sm-12 pr-0 pl-2 third"><%= render 'shared/cards_dash', {img: 'credit_card.png',title: "Revenu total", value: @revenutotallastyear}%></div>
          </div>

          <div class="mt-5" style="position: relative;">
            <h5 class="mb-5">Allocation mensuelle de retour à l'emploi</h5>
              <div class="bg-pink">
                <p class="m-0">Montant mensuelle de Retour à l'Emploi</p>
                <h6 class="my-2">2 841 .33 €</h6>
              </div>
            <%= area_chart @data_amre,
              library: { animation: { easing: 'easeInOutQuart'}},
              colors: ["#4D54E1", "#F9D132"],
              prefix: "€",
              thousands: " ",
              round: 2,
              download: true,
              min:1500, height: "270px", defer: true %>
          </div>

        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
  </div>


<style>
  .third > div {
    height: 120px;
    padding-top:10%;
  }
</style>



    <p>Find me in app/views/simulations/index.html.erb</p>

  <h2>POLE EMPLOI</h2>


    <p>Revenu brut total des 12 derniers mois : <%= @revenutotallastyear %></p>
    <p>Salaire Journalier de Référence (SJR) : <%= @sjr %></p>

    <% if @arej_m1 > @arej_m2 %>
     <div class="one">Allocation journalière de Retour à l'Emploi: <%= @are_j_m1 %></div>
    <% else %>
     <div class="two">Allocation journalière de Retour à l'Emploi: <%= @are_j_m2 %></div>
    <% end %>
    <p>Allocation mensuelle de Retour à l'Emploi (base: 30jours) : <%= @arem_m2 %></p>

    <% if @arej_m2 > 84.33  %>

    <p>Attention, depuis le 01 novembre 2019, une décôte de 30% est appliquée sur votre allocation à
    compter du 7ème mois d'indemnisation. Concrètement, votre allocation journalière passera d'un montant de
     <%= @are_j_m2 %>

    à un montant de
      <% if @arej_m2_postdecote > 84.33 %>
          <%= @are_j_m2_postdecote + '.' %>
      <% else %>
          <%= @arej_m2_postdecote_plancher + '.'%>
      <% end %>
    </p>
    <% else %>
      <%= %>
    <% end %>

  <h2>RETRAITE</h2>

  <h4>Votre âge de départ au plus tôt : <%=  %> soit à partir du <%=  %></h4>

  <h4>Votre âge de départ à taux maximum : <%=  %> soit à partir du <%=  %>
    <p>Vous pourriez obtenir votre retraite à l'age : <%=  %> soit à partir du <%=  %></p>
    <p>Vous avez actuellement : <%=  %> . Il vous en faudrait : <%=  %></p>.



  </h4>







</div>


