



<div class="container">
  <h2 class="mt-4 mb-0 text-left">Simulations</h2>
  <ul class="nav nav-pills mb-4 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active button-style text-white" id="pills-home-tab" data-toggle="pill" href="#pole-emploi" role="tab" aria-controls="pole-emploi" aria-selected="true">Pôle Emploi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link button-style text-white" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="compte();">Retraite</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pole-emploi" role="tabpanel" aria-labelledby="pole-emploi-tab">
      <div class="d-flex justify-content-center">
        <div class="grid m-2 w-100">
          <h4 class="text-center">Pôle emploi</h4>
          <div class="row">
            <div class="col-md-4 col-sm-12 pl-0 pr-2"><%= render 'shared/cards_dash', {img: 'personal_data.png',title: 'Salaire Journalier de Référence (SJR)', value: @sjr} %></div>
            <div class="col-md-4 col-sm-12 px-1"><%= render 'shared/cards_dash', {img: 'note_taking.svg',title: "Allocation journalière de Retour à l'Emploi:", value: @are_j_m2 } %></div>
            <div class="col-md-4 col-sm-12 pr-0 pl-2 third"><%= render 'shared/cards_dash', {img: 'credit_card.png',title: "Revenu total", value: @revenutotallastyear}%></div>
          </div>

          <div class="mt-5" style="position: relative;">
            <h5 class="mb-5">Allocation mensuelle de retour à l'emploi</h5>
              <div class="bg-pink">
                <p class="m-0">Montant mensuelle de Retour à l'Emploi</p>
                <h6 class="my-2">2 841 .33 €</h6>
              </div>
            <%= area_chart @data_amre,
              library: { animation: { easing: 'easeInOutQuart'}},
              colors: ["#4D54E1", "#F9D132"],
              prefix: "€",
              thousands: " ",
              round: 2,
              download: true,
              min:1500, height: "270px", defer: true %>
          </div>
          <!-- DEBUT EXPLICATION DECOTE POLE EMPLOI -->
          <div class="explication mt-3">
            <% if @arej_m2 > 84.33  %>
            <p>Attention, depuis le 01 novembre 2019, une décôte de 30% est appliquée sur votre allocation à
            compter du 7ème mois d'indemnisation. Concrètement, votre allocation journalière passera d'un montant de
             <%= @are_j_m2 %>
            à un montant de
              <% if @arej_m2_postdecote > 84.33 %>
                  <%= @are_j_m2_postdecote + '.' %>
              <% else %>
                  <%= @arej_m2_postdecote_plancher + '.'%>
              <% end %>
              </p>
              <% else %>
                <%= %>
              <% end %>
          <!-- FIN EXPLICATION DECOTE POLE EMPLOI -->
          </div>

        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">


        <div class="retraite">
          <h4 class="mb-4">Retraite</h4>
          <%= image_tag "trimestres.svg", alt: "alttext", style: 'width:860px;height:450px; object-fit:cover;opacity:0.7;' %>
          <div class="d-flex justify-content-between">
            <div class="counter">
              <i class="far fa-save fa-2x text-warning"></i>
              <h2 class="timer count-title count-number text-primary" id="nb-43" data-to="300" data-speed="1500"></h2>
              <p class="count-text ">Trimestres acquis<br></p>
            </div>
            <div class="counter">
              <i class="far fa-clock fa-2x text-warning"></i>
              <h2 class="timer count-title count-number text-primary" id="nb-129" data-to="1700" data-speed="1500"></h2>
              <p class="count-text ">Trismestres restants<br></p>
            </div>
            <div class="counter">
                <i class="fab fa-pagelines fa-2x text-warning"></i>
                <h2 class="timer count-title count-number text-primary" id="nb-62" data-to="11900" data-speed="1500"></h2>
                <p class="count-text ">Âge de départ à la retraite<br> (au plus tôt) </p>
            </div>
            <div class="counter">
              <i class="fa fa-bug fa-2x text-warning"></i>
              <h2 class="timer count-title count-number text-primary" id="nb-78" data-to="157" data-speed="1500"></h2>
              <p class="count-text ">Âge de départ à la retraite<br> (à taux plein)</p>
            </div>

          </div>
          <button type="button" class="btn btn-primary mt-3 w-100" data-toggle="modal" data-target="#exampleModalCenter">
            Calcul du montant mensuel de ma retraite
          </button>
        </div>

<!-- DEBUT CONTENU RETRAITE -->








<!-- FIN CONTENU RETRAITE -->



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"  style="background-color: #D3F0F0;">

        <button type="button" class="close text-right m-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">╳</span>
        </button>
      <div class="modal-body">
        <h4 class="text-primary">Vous êtes sérieux Thomas ?!</h4>
        <p class="my-3 text-dark" style="font-weight:normal;">Retournez plutôt bosser ... on en reparle dans 15 ans ! </p>
        <%= image_tag "gif1.gif", alt: "alttext", style: "width:470px", class: 'my-2' %>
      </div>
    </div>
  </div>
</div>


    </div>
  </div>


<script>


  const counterAnimation = (el, initialNum, finalNum) => {
  if (Number.isInteger(finalNum)) {
    let interval = setInterval(function() {
      el.innerHTML = initialNum;
      (initialNum >= finalNum) ? clearInterval(interval) : '';
      initialNum++;
    }, 20);
  }
  else {
    let intInitialNum = Math.floor(initialNum);
    let intFinalNum = Math.floor(finalNum);
    let interval = setInterval(function() {
      el.innerHTML = intInitialNum;
      if (intInitialNum >= intFinalNum) {
        clearInterval(interval);
        el.innerHTML = `${finalNum.toString().replace('.', ',')}`;
      }
      intInitialNum++;
    }, 20);
  }
}




const compte = () => {
  console.log('Hello');
  counterAnimation(document.querySelector('#nb-43'), 0, 43);
  counterAnimation(document.querySelector('#nb-129'), 86, 129);
  counterAnimation(document.querySelector('#nb-62'), 19, 62);
  counterAnimation(document.querySelector('#nb-78'), 35, 78);
}
</script>


<style>
  .third > div {
    height: 120px;
    padding-top:10%;
  }



body {
  font-family: Arial;
  background-color: #f5f5f5;
  color: #808080;
    text-align: center;
}


.wrapper { width: 750px; margin: 30px auto; position: relative;}
.counter { background-color: white; opacity:0.99;padding: 20px;border-radius: 20px; box-shadow: 0px 0px 20px #8480e91a; margin-top: -320px;height: 220px; }
.counter i{padding-bottom:10px;}

</style>

</div>


