<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" style="float:left;" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <% if user_signed_in? %>
      <ul class="m-0 pl-2">
        <li>
          <%= link_to welcome_path do%>
            <div class='nav-link d-flex align-items-center menu-item' style="position: relative;">
              <i class="fas fa-home"></i>
              <p class='bg-dark p-1 etiquette text-center' style="width: 100px;position: absolute;left: 30px;border-radius: 10px;font-size: 11px;">Accueil</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to documents_path do %>
            <div class='nav-link d-flex align-items-center menu-item my-2' style="position: relative;">
              <i class="fas fa-folder-open"></i>
              <p class='bg-dark p-1 etiquette text-center' style="width: 140px;position: absolute;left: 30px;border-radius: 10px;font-size: 11px;">Mes documents</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to doc_lines_path do %>
            <div class='nav-link d-flex align-items-center menu-item' style="position: relative;">
              <i class="fas fa-chart-bar"></i>
              <p class='bg-dark p-1 etiquette text-center' style="width: 150px;position: absolute;left: 30px;border-radius: 10px;font-size: 11px;">Mon tableau de bord</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to simulations_path do %>
            <div class='nav-link d-flex align-items-center menu-item mt-2' style="position: relative;">
              <i class="fas fa-calculator"></i>
              <p class='bg-dark p-1 etiquette text-center' style="width: 150px;position: absolute;left: 30px;border-radius: 10px;font-size: 11px;">Mes simulations</p>
            </div>
          <% end %>
        </li>
      </ul>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</nav>


  <div style="position: fixed;bottom:0;">
    <p class="text-white" style="padding-left: 10px;font-size: 12px;text-align: center;">  © 2020 - <br> Pass.Pro</p>
  </div>



