  <div class="backgroundimage">
    <%= image_tag("pepouz.svg") %>
  </div>

<div class="container" >

  <div class="content-container">
      <h1 class="mt-5">Bonjour <%= current_user.first_name %>,</h1>
      <div class="w-100 text-center mt-5">
        <p class="ml-3" style="font-size:25px;">Que souhaitez-vous consulter aujourd'hui ?</p>
      </div>


      <div class="containerr mt-1 ml-5">
          <div class="cardd">
              <div class="face face1">
              <%= link_to(documents_path) do %>
                  <div class="content text-center">
                      <%= image_tag("hackermind.svg")%>
                      <h3>Mes bulletins de salaire</h3>
                  </div>
              </div>
              <% end %>
              <div class="face face2">
                <%= link_to(documents_path) do %>
                  <div class="content text-center">
                    <h5 class="text-white">Le coffre-fort sécurisé</h5>
                    <p class="title mb-3 text-white">Vous allez pouvoir retrouver votre coffre-fort sécurisé contenant toutes vos fiches de paies.</p>
                    <p class="btn btn-warning p-2 w-100">Voir mes documents</p>
                  </div>
              </div>
              <% end %>
          </div>
          <div class="cardd">
              <div class="face face1">
              <%= link_to(doc_lines_path) do %>
                  <div class="content text-center">
                      <%= image_tag("dashboard.svg")%>
                      <h3>Mon tableau de bord</h3>
                  </div>
              </div>
              <% end %>
              <div class="face face2">
              <%= link_to(doc_lines_path) do %>
                  <div class="content text-center">
                    <h5 class="text-white">Des graphiques personnalisés</h5>
                    <p class="title mb-3 text-white">Voyez vos bulletins de salaire sous un nouvel an grâce à nos graphiques personnalisés.</p>
                    <p class="btn btn-warning p-2 w-100">Voir mes graphiques</p>
                  </div>
              </div>
              <% end %>
          </div>
          <div class="cardd">
              <div class="face face1">
                <%= link_to(simulations_path) do %>
                  <div class="content">
                      <%= image_tag("simu.svg")%>
                      <h3>Simulations</h3>
                  </div>
              </div>
              <% end %>
              <div class="face face2">
                <%= link_to(simulations_path) do %>
                  <div class="content">
                    <h5 class="text-white text-center">Nos estimations</h5>
                    <p class="title mb-3 text-white">Apprenez plus de détails sur la valeur de votre retraite ou bien encore, de vos aides pôles emplois.</p>
                    <p class="btn btn-warning p-2 w-100">Accéder aux simulations</p>
                  </div>
              </div>
              <% end %>
          </div>
      </div>
  </div>
</div>

<style>


  .container{
  animation-duration: 2s;
  animation-name: slidein;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 25vh;
    width: 100%;
  }
}
</style>
