<div class="modal fade" id="add_document" tabindex="-1" role="dialog" aria-labelledby="Ajouter un bulletin" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for (Document.new) do |form| %>
          <%= form.input :photo, as: :file %>
          <div class="row">
            <div class="col">
              <%= form.input :year, as: :date,  discard_day: true, discard_month: true %>
            </div>
            <div class="col">
              <%= form.input :month, as: :date,  discard_day: true, discard_year: true  %>
            </div>
          </div>

          <%= form.button :submit, 'Ajouter' , class:'btn btn-primary w-100 mb-2'%>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
