<% groups = @documents.where(user: current_user).sort_by { |h| h.year }.reverse.group_by { |m| m.year } %>
<% salnet = @my_doclines.select{|line| line.category == 'salaire_net_paye'}.group_by{ |m| m.data_entry_period.year } %>

<div class="container">

  <div class="button-add">
    <i class="fas fa-plus", id="buttonModal", data-toggle="modal", aria-haspopup= "true", aria-expanded= "false", data-target="#add_document"></i>
  </div>

  <div class="modal fade" id="add_document" tabindex="-1" role="dialog" aria-labelledby="Ajouter un bulletin" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center">
        <div class="d-flex justify-content-between align-items-center p-2">
          <button type="button" class="close w-100" data-dismiss="modal" aria-label="Close" style="text-align: right;">
            <span aria-hidden="true">╳</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <%= simple_form_for (Document.new) do |form| %>
            <div class="text-center">
              <h5 id="exampleModalLabel">Ajouter un bulletin</h5>
              <%= image_tag 'files.svg', alt: "alttext", style: 'width: 90%; padding: 10%;' %>
            </div>
            <div class="row my-2 mb-5">
<!--               <div class="col">
                <%= form.input :month, as: :date,  discard_day: true, discard_year: true, label: 'Mois'  %>
              </div>
              <div class="col">
                <%= form.input :year, as: :date,  discard_day: true, discard_month: true, label: 'Année' %>
              </div> -->
            </div>
            <%= form.input :photo, as: :file, label: false, class: 'btn btn-success', style: 'margin-top: 10px;' %>

            <%= form.button :submit, 'Ajouter' , class:'btn btn-primary w-100 mt-5', onclick:'cursor_wait();'%>
          <% end %>
          <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-contenu" style="vertical-align: middle;">
              <p>✨</p>
              <h4 class="mt-4">Notre sorcier est en train d'extraire les données de votre fiche de paye  ...</h4>
              <%= image_tag "sorcier.gif", alt: "alttext", width: '580px' %>
              <p class='mx-5'style="font-size: 16px;">Merci de bien vouloir patienter quelques secondes afin que la magie s'opère</p>
              <p>✨</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mt-4">Mes documents</h2>

  <div class="text-center">
    <%= form_tag documents_path, method: :get do %>
      <div class="d-flex justify-content-center align-items-center" style="position: relative;">
        <%= link_to 'Tout voir',  documents_path ,class:'all btn btn-warning m-1 text-white' %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Recherchez par année, mois, entreprise, etc...",
        autocomplete:"off"
        %>
        <%= button_tag type: 'submit', class: "bg-transparent p-1 text-warning loupe" do %>
          <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class=' d-flex  justify-content-between align-items-start'>
    <button id='selection_multiple_doc' value=false class='btn btn-warning m-3 text-white'>Sélectionner</button>
    <div class='d-flex buttons-multi  mx-3 mt-4 invisible'>
      <%= simple_form_for(:downloads, url: download_documents_path) do |form| %>
        <%= form.input :ids, :as => :hidden, label:false, input_html: { multiple: true }, hidden:true %>
        <%= button_tag type: 'submit', class: "buttons-selections " do %>
          <i class="fa fa-download" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <%= simple_form_for(:prints, url: print_documents_path) do |form| %>
        <%= form.input :ids, :as => :hidden, label:false, input_html: { multiple: true }, hidden:true %>
        <%= button_tag type: 'submit', class: "buttons-selections disabled" do %>
          <i class="fa fa-print" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <% groups.each do |group| %>
    <div class="section">
      <div class="entete d-flex justify-content-between align-items-center">
        <div class="m-0">
          <p class="m-0" style="font-size: 16px;">Année</p>
          <h2 class="text-info"><%= group[0] %></h2>
        </div>
        <div class="text-center">
          <% sal1 = 0 %>
          <% salnet[group[0]].each { |sal| sal1 +=  sal.amount } %>
          <p style="font-size: 11px;" class="m-0">Revenu annuel<strong class="ml-5"><%= sal1.round.to_s.reverse.gsub(/...(?=.)/,'\& ').reverse %> €</strong></p>
          <div class="progress">
            <div class="progress-bar bg-success m-0" role="progressbar" style="width: <%= (100 * group[1].size)/(12) %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <em class="w-100 text-center" style="font-size: 11px;"><%= group[1].size %> fiches sur 12</em>
        </div>
        <div>
          <%= link_to doc_lines_path do %>
            <div class="d-flex justify-content-between btn btn-primary">
              Mon tableau de bord
              <i class="ml-3 fas fa-chevron-right"></i>
            </div>
          <% end %>
        </div>
        </div>
      <div class="cards" style="position: relative;">
        <% i = 0 %>
        <% group[1].each do |document| %>
            <% i ++ 1 %>
            <div class="card" style="background-image: url('<%= cl_image_path(document.photo.key, format: :jpg) %>');">
              <div class="multi-button">
                <a href="mailto:<%= current_user.email %>" class="fas fa-share-alt"></a>
                <a href="<%= cl_image_path(document.photo.key) %>" class="fas fa-print" target="_blank"></a>
              </div>
              <div>
                <input type="checkbox" class="checkbox_card invisible " id="<%= document.id %>" disabled>
              </div>
              <div class="card-body">
                <%= link_to document_path(document), data: { toggle: 'modal', target: "#document-#{document.id}"} do %>
                  <div>
                    <h5 class="card-text pt-5 pb-4"><%= document.name %></h5>
                    <p><i class="pr-4 far fa-building"></i><%= document.entreprise %></p>
                    <p><i class="pr-4 fas fa-euro-sign"></i><%= DocLine.salaire_net_paye.find_by(document: document).amount.round(2) %></p>

                  </div>
                <% end %>
                <button class="button_multi invisible" type="button" value='<%= document.id %>' disabled ><i class="fas fa-check"></i></button>
              </div>
            </div>

             <!-- Modal -->
            <div class="modal fade" id="document-<%= document.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content preview">
                  <div class="modal-header" style="border: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">╳</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h1 class="text-center"><%= document.name %></h1>

                    <div class="d-flex" style="position:relative">
                      <div class="w-100 pr-2">
                        <%= cl_image_tag(document.photo.key , format: :jpg) %>
                      </div>
                      <div class="document-show p-2 m-0"  style="background-color: #F9D132; position: fixed; text-align: center;right: 40px;">
                        <h6>Informations</h6>
                        <p>
                          <strong>Salaire brut:</strong> <%= DocLine.salaire_brut.find_by(document: document).amount.round(2) %> €
                        </p>
                        <p>
                          <strong>Salaire net:</strong> <%= DocLine.salaire_net_paye.find_by(document: document).amount.round(2) %> €
                        </p>
                        <p>
                          <strong>Impot sur le revenu:</strong> <%= DocLine.impot_revenu.find_by(document: document).amount.round(2) %> €
                        </p>
                        <p>
                          <strong>Congés N-1:</strong> <%= DocLine.conge_n_1.find_by(document: document).amount.truncate %> jour(s)
                        </p>
                        <p>
                          <strong>Congés N:</strong> <%= DocLine.conge_n.find_by(document: document).amount.truncate %> jour(s)
                        </p>
                        <p>
                          <strong>RTT:</strong><%= DocLine.rtt.find_by(document: document).amount.truncate %> jour(s)
                        </p>
                      </div>

                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<style>
/* Modal Content/Box */
.modal-contenu {
  background-color: #fefefe;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 45%;
  height: 685px;
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

</style>

<script>
  const cursor_wait = () => {
   setTimeout(document.body.style.cursor = 'wait', 4000);
   var modal = document.getElementById("myModal");
    modal.style.display = "block";
  }

</script>
