<h1>Mes documents</h1>
<% groups = @documents.sort_by { |h| h.year }.reverse.group_by { |m| m.year } %>

<div class="container">
  <% groups.each do |group| %>
    <div class="section">

      <div class="cards" style="position: relative;">
        <div class="entete">
          <p class="m-0" style="font-size: 16px;">Année</p>
          <h2><%= group[0] %></h2>
          <% sal1 = 0 %>
          <% DocLine.salaire_brut.each { |sal| sal1 +=  sal.amount } %>
          <p class="mt-3" style="font-size: 11px;">Revenu annuel<strong class="ml-5"><%= sal1.round.to_s.reverse.gsub(/...(?=.)/,'\& ').reverse %> €</strong></p>
          <div class="progress">
            <div class="progress-bar bg-success m-0" role="progressbar" style="width: <%= (100 * group[1].size)/(12) %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <em class="w-100 text-center" style="font-size: 11px;"><%= group[1].size %> fiches sur 12</em>
          <%= link_to document_doc_lines_path(:document_id) do %>
            <div class="d-flex justify-content-between btn btn-primary mt-5">
              Mon tableau de bord
              <i class="fas fa-chevron-right"></i>
            </div>
          <% end %>
        </div>
        <% group[1].each do |document| %>
          <div class="card" style="background-image: url('<%= cl_image_path(document.photo.key, format: :jpg) %>');">
            <div class="multi-button">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-share-alt"></a>
              <a href="#" class="fas fa-trash"></a>
            </div>
            <div class="card-body">
              <h5 class="card-text pt-5 pb-4"><%= document.name %></h5>
              <p><i class="pr-4 far fa-building"></i><%= document.entreprise %></p>
              <p><i class="pr-4 fas fa-euro-sign"></i><%= DocLine.salaire_brut.find_by(document: document).amount.round(2) %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

